<h2>Editing device</h2>

<% form_for(@device) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => 'fields', :locals => {:f => f} %>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @device %> |
<%= link_to 'Back', devices_path %>
