<h2>New Area</h2>

<% form_for(@area) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :desc %>
    <%= f.text_area :desc %>
  </p>
  <p>
    <%= f.submit "Create" %> or <%= link_to 'Cancel', areas_path %>
	
  </p>
<% end %>

